.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.heading{
  font-size: 100px;
}

.cont{
  margin: 5%;
  font-size: xx-large;
}

.navbar {
  background-color: #67789a;
  padding: 10px;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center; /* Aligns items to the right */
  gap: 20px; /* Adds space between the items */
}

.navbar ul li {
  margin: 0 10px; 
}

.navbar ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.2em;
}

.navbar ul li a:hover {
  text-decoration: underline;
}


body{
  background-color: rgb(228, 226, 230);
  color: rgb(7, 91, 63);
}

h1{
  color: rgb(49, 49, 55);
}



.image img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #193a7e;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(77, 11, 11);
}

.App-link {
  color: #195f73;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
